.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

// pad
.d-md-block {
  @include pad() {
    display: block;
  }
}

.flex-wrap-md-wrap {
  @include pad() {
    flex-wrap: wrap;
  }
}

// mobile
.d-sm-none {
  @include phone() {
    display: none;
  }
}

.d-sm-block {
  @include phone() {
    display: block;
  }
}

.d-sm-flex {
  @include phone() {
    display: flex;
  }
}

.flex-direction-sm-row-reverse {
  @include phone() {
    flex-direction: row-reverse;
  }
}

.justify-content-sm-between {
  @include phone() {
    justify-content: space-between;
  }
}

.align-items-sm-start {
  @include phone() {
    align-items: flex-start;
  }
}