// header
.header_logo {
  width: 80px;
}

.header_menuIcon-phone {
  width: 30px;
  fill: $white;
}

// footer
.footer_socialLink {
  width: 48px;
  @include phone() {
    width: 24px;
  }
}

.footer_addressLink {
  width: 40px;
  fill: $white;
  @include phone() {
    width: 20px;
  }
}