@for $i from 1 through 10 {
  .w-#{$i*10} {
    width: 10%*$i;
  }
}

@for $i from 1 through 10 {
  .w-md-#{$i*10} {
    @include pad() {
      width: 10%*$i;
    }
  }
}

@for $i from 1 through 10 {
  .w-sm-#{$i*10} {
    @include phone() {
      width: 10%*$i;
    }
  }
}