// google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-size-base: 8px;

// colors
$primary: #AA0601;
$primary-dark: #650300;
$light: #FBF2F2;
$white: #ffffff;
$black: #000000;

// spacing
$spacing-base: 8px;